*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* font-family: Arial, sans-serif; */
    background-image: url(./images/Four.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}
.login-form{
    margin: 0 auto;
    height: 50%;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    max-width: 400px;
    min-width: 300px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #00000057;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.658);
    backdrop-filter: blur(8px);
    border-radius: 5px;
    padding: 30px;

}
h1{
    color: #132dc2b6;
    text-align: center;
    margin-bottom: 50px;
    font-weight: bolder;
    font-size: 40px;
}
.inp{
    padding: 10px;
    /* min-width: 100px; */
    width: 92%;
    border-radius: 5px;
    border: none;
}
.btn{
    font-weight: bold;
    padding: 10px 20px;
    min-width: 100px;
    width: 50%;
    background-color: #132dc2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 800;
    /* align-items: center; */
    /* display: flex; */
    /* justify-content: center; */
    transition: width 0.6s;

}
.btn:hover{
    background-color: #1e64cc;
    /* color: #000000; */
    transition: background-color 0.3s ease-in-out;
    transition: width 0.5s ease-in-out;
    width: 100%;
    font-weight: 900;
}
@media(max-width:550px){
    .login-form{
        max-width: 100%;
        min-width: 100%;
 
    }
}